/* --------------------------------------
index.css
- Reset / Normalizar
- Header
- Main
- Footer
- Responsive
----------------------------------------- */



/* --------- Reset ------- */

@font-face {
    font-family: Nothing;
    src: url(../font/nothing-font-5x7.ttf);
}
@font-face {
    font-family: Ntype82;
    src: url(../font/NType82-Regular.ttf);
}

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;

}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

  background-color: #04253A;
    /* Establecemos una imagen fija de fondo para la web */
    background-image: url(../assets/visax.webp);
    /* No quiero que se repita */
    background-repeat: no-repeat;
    /* Quiero que se fije desde arriba */
    background-position: top;
    /* Quiero que cubra todo */
    background-size: cover;
    /* Quiero que se fije en el scroll */
    background-attachment: fixed;
}
/* ----------- Reset ----------------- */



/* -------------- Header ----------- */
/* Descripción: el header de la página web 
    Estructura:
    - H1
    - Botones de menu
    - Menu desplegable
 */

.header {
    padding: 2rem;
    backdrop-filter: blur(2rem); /* Con esto conseguimos darle un efecto difuminado a todo el header */
    background: rgba(0,0,0,.5254901961);  /* establecemos un color semitransparente */ 
    width: 90%;
    color: white;
    border-radius: 10rem;

    top: 1.25rem; 
    left: calc(50% - (90% / 2));
    position: fixed;
    z-index: 2; /* le ponemos 2 para que se superponga por encima de los demás elementos */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    

    font-family: Nothing;

    animation: cabecera 1.4s linear 1; /* animación para hacer el efecto que hace de arriba a abajo */
}
@keyframes cabecera {
    from {

            transform: translateY(-100%); /* Queremos que vaya desde un poco por encima de la web */

    }
    to {

            transform: translateY(0%); /* Hasta su posición original */
    }
}
.header__h1 {
    /* background-color: aqua; */
}
.header__a {
   
}
/* Aqui termina el H1 y algunos valores del header */


.header__div {
    /* background-color: aqua; */
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;

    gap: 1.25rem;
}

.header__svg {
    /* background-color: brown; */
    width: 1.25rem;
    height: 1.25rem;
}
.header__svg.carrito {}
.header__svg.persona {}
.header__svg.menu {}
.header__btn {
    cursor: pointer;
}
/* Aqui acaban los botones de menu */
.header__nav {
    
}
.header__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}
.header__li {
    
}
/* Aqui acaba el menu desplegable */

/* ------------- Header ------------ */


/*----------------------- Main --------------------- */
/* 
Descripción: es la parte principal de la página web
Estructura: 
    - Bloque de carga
    - Main video
    - Main np
    - Main np segunda
*/


.main{
    position: relative;
}

                    /* --------------- Bloque de carga ----------------- */
                        /* Descripcion: se utiliza para hacer una animación al tocar el boton. Aparece solo al cargar la página
                         Estructura:
                         - loading
                         - loading__btn
                         - btn__span

                         - color
                         - up
                         - now
                         
                        */
                    
.loading {
    width: 100%; 
    height: 100vh; /* Quiero que ocupe un 100% de la ventana vertical */
    background-color: white;
    position: absolute; /* Para que se superponga a las demás etiquetas */
    z-index: 2;

    transition: all 6s ease;
}
.loading__btn {
    background-color: black;
    color: white;
    
    padding: 2rem;
    border-radius: 4rem;
    
    width: 16.25rem;
    min-height: 1.25rem;
    position: absolute;
    top: calc( 50% - (1.25rem / 2));  /* Para posicionarlo verticalmente en medio */
    left: calc(50% - (16.25rem / 2)); /* Para posicionarlo horizontalmente en medio */
    
    transition: all 5s ease;
    
}
.btn__span {

}
/* Estos son las propiedades que se añaden a loading y loading__btn cuando hacemos click en el boton a través de javascript */
.color {
    color: black;
}
.up {
    transform: scale(20);
}
.now {
    opacity: 0;
} 

                    /* ----------------------- Bloque de carga ------------------------ */



                    /* ----------------------- main__video ---------------------------- */
                    /* 
                    Descripción: se encuentra el contenido principal así como el video promocional
                    Estructura:
                    - main__video
                        - video__video
                        - video__button
                    */

.main__video {
    background-color: black;
    min-height: 100vh; /* Quiero que ocupe el 100% de la venta vertical */

    position: relative;
}
.video__video {
    object-fit: cover;
    min-height: 100vh;
}
/* Para hacer la animación del boton, he utilizado una forma de elipse */
.video__button::before {
    content: "";
    display: block;

    width: 15rem;
    height: 5.625rem;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: 100%; /* Quiero que este situada justo abajo del boton, y para eso le pongo a 100% de distancia de arriba del boton */
    z-index: -1; /* La he escondido detras del boton */
    
    transition: all 2s ease;
}
/* Cuando hago hover sobre el video__button, quiero que video__button::before se agrande 4 veces */
.video__button:hover::before {
    transform: scale(4);
}
.video__button {

    background-color: white;
    width: 12.5rem;
    min-height: 3.75rem;
    border-radius: 2rem;
    border: .1px solid black;
    cursor: pointer;

    /* Para ocultar todo lo de fuera del boton */
    overflow: hidden;
    /* Para posicionarlo por encima del video */
    position: absolute;
    left: calc(50% - (12.5rem / 2));
    top: 60%;
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    transition: all .6s ease;
}
/* Quiero que el color de las letras sean blancas cuando el boton es negro */
.video__button:hover {
    color: white;
}
                        /* ------------------------ main__video ----------------------- */



                        /* ------------------------ main__np --------------------------- */
                        /* 
                        Descripción: Esta es una sección de la web donde se enfoca en el nothing phone 2
                        Estructura: 
                        - main__section izquierda
                            - section__span main
                            - section__h2
                            - section__img np
                        - main__section derecha
                            - derecha__span
                            - derecha__h2
                            - derecha__p
                        */


/* le quito la altura de la cabecera para que se me quede ocupando la primera pagina principal (90 = 50altura + 40padding) */
.main__np {
    /* background-color: #04253A; */
    min-height: calc( 100vh - 90px );
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

.main__section.izquierda {
    width: 60%;
    background-color: black;
    max-height: 40.625rem;
    position: relative;
    border-radius: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;   
    
    overflow: hidden;

}
.main__section {
    transition: all 1s ease;
}
.main__section:hover {
    transform: scale(1.03);
}
.section__span.main {
    
    width: 10%;
    min-height: 80%;
    
    
    /* Quiero fijarlo arriba a la izquierda */
    position: absolute;
    top: 0;
    left: 0;
    
    font-family: 'nothing';
    font-size: 5.625rem;
    color: white;
/* esta propiedad la he sacado de su pagina web analizando como lo tenian ellos dispuesto y luego me he documentado en mozzilla (documentación oficial) */
/* Sirve para poner la etiqueta en posición horizontal */
    writing-mode: vertical-rl;
    
    animation: siempre 10s linear infinite; /* le ponemos el valor infinite para que no se acabe */
}

@keyframes siempre {
    from {
        transform: translatey(-40%);  /* Quiero que gire constantemente desde el -40% de su posicion original en el eje y */
    }
    to {
        transform: translatey(140%); /* Quiero que gire constantemente hasta el +140% de su posición original en el eje y */
    }
}
.section__h2 {

    width: 70%;
    min-height: 2.5rem;
    /* background-color: red; */

    font-family: 'nothing';    
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.4;
    color: white;

    position: absolute;

    left: calc( (100% - 70%) / 2 );
    
    top: 5rem;

}
.section__img.np {
    margin-top: 11.25rem;
    width: 31.25rem;
    height: 31.25rem;

    object-fit: cover;

    transition: all .7s ease;
}
.section__img.np:hover {
    transform: scale(1.1);
}

.main__section.derecha {
    width: 30%;
    background-color: #45776F;
    min-height: 40.625rem;
    border-radius: 2rem;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;

    padding: 0px 1rem;

    gap: 2rem;

    font-family: 'ntype82';
}

.derecha__span {
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
    
}
.derecha__h2 {
    /* background-color: aqua; */
    width: 100%;
    font-size: 3.125rem;

}
.derecha__p {
    width: 100%;
    /* background-color: aqua; */
    line-height: 1.875rem;
}
.derecha__button {
    border: .125rem solid black;
    border-radius: 1.5rem;
    padding: .5rem 6.25rem;
    min-width: 7.5rem;
    background: #04253A;
    margin-bottom: 2rem;

    color: white;

    position: relative;

    overflow: hidden;

    display: block;

    transition: all 0.3s linear;
}
.derecha__button:hover {
    transform: scale(1.1);
    color: black;
    border: .125rem solid black;
}
/* He hecho una elipse y la he colocado en el centro del boton pero por detras */
.derecha__button::after {
    content: "";
    display: block;

    position: absolute;
    
    border-radius: 3.125rem;
    background: #C6BF88;

    padding: 1rem 12.5rem;

    left: -5%;
    right: -5%;
    top: 0;
    bottom: 0;

    transform: scale(0.1);

    transition: all 0.2s ease;

    z-index: -1;

    opacity: 0;

}
/* Cuando hacemos hover sobre el derecha__button, a derecha__button::after se le añaden esas propiedades */
.derecha__button:hover::after {
    transition: all 0.4s ease;
    transform: scale(1.1);
    opacity: 1;
}

                        /* ------------------------- main__np ------------------------ */

                        /* ---------------------- main__np segundo ------------------- */
                        /* 
                        Descripción: la sección segunda del main donde se encuentran las colaboraciones
                        Estructura:
                            - main__section izquierda
                                - section__span main
                                - section__h2
                                - section__img np
                            - main__section derecha
                                - derecha__span
                                - derecha__h2
                                - derecha__p

                                (solo he tocado algunos peuqueños ajustes)
                        */

 .main__np.segundo {
    margin-top: 1.25rem;
 }
 .section__span.segundo {
    animation: none;
 }
 .section__img.segunda {
    width: 100%;
    object-fit: cover;
    
 }
 .main__section.izquierda.segunda {
    min-height: 40.625rem;
 }

 .main__section.derecha.segunda {
    padding: 0px 1rem;
 }
                        /* ---------------------- Main__np segundo ----------------- */

/*---------------------- Main ----------------- */


/* ------------------- Footer ----------------- */
/* 
Descripción: es el footer de la web o pie de página 
Estructura:
 - bloque 1: mapa
 - bloque 2: contacto
 - bloque 3: rrss
*/



.footer {
    /* background-color: #04253A; */
    min-height: 30rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    position: relative;
    
}
                        /* --------------------- Mapa ----------------------------- */
                        /* 
                        Descripción: Es un iframe de google maps
                        Estructura:
                        - footer__mapa
                        - mapa__iframe
                        */

.footer__mapa {
    /* background-color: red; */
    width: 45%;
    border-radius: 2rem;
}
.mapa__iframe {
    border-radius: 2rem;
}
                    /* ------------------------ Mapa ---------------------------- */


                    /* ------------------------ Footer__contacto ---------------- */
                    /*
                    Descripción: Es un formulario de la web
                    Estructura:
                    - footer__contacto 
                        - contacto__form
                            - form__h2

                            - form__email
                            - button__email

                            - form__mensaje
                            - button__mensaje

                            - form div (privacidad)

                            - form__button
                    */
.footer__contacto {

    
    background-color: #C6BF88;
    width: 45%;
    min-height: 18.75rem;
    border-radius: 2rem;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contacto__form {
    gap: .25rem;

    /* background-color: aqua; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    font-family: 'ntype82';
}
.form__h2 {
    font-family: "nothing";
    /* background-color: aliceblue; */
    width: 80%;
}

.form__email {
    font-family: "nothing";
    font-size: 1.25rem;
    margin-left: 1rem;
}
.button__email {
    font-family: "nothing";
    border: 1.7px solid black;
    padding: .7rem;
    border-radius: 1rem;
    transition: all 1s ease;
}
.button__email:hover {
    transform: scale(1.2);
}
.form__mensaje {
    font-family: "nothing";
    font-size: 1.25rem;
    margin-left: 1rem;
}

.button__mensaje {
    font-family: "nothing";
   padding: 0.3rem;
    border: 1.7px solid black;
    border-radius: 1rem;
}
.form__div {
    font-family: "nothing";
}
.form__button {
    font-family: "nothing";
    border-radius: 1rem;
    border: 2px solid black;
    padding: .7rem 3rem;
    cursor: pointer;

    background-color: #07263A;
}
                    /* -------------------------- footer__contacto --------------------- */


                    /* -------------------------- redes sociales ----------------------- */
                    /* 
                    Descripcion: son las redes sociales con enlaces
                    Estructura:
                    - footer__ul
                        - footer__li
                            - footer__svg
                    */
.footer__ul {
    /* background-color: red; */
    /* padding-bottom: 200px; */
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;

    position: absolute;
    bottom: 0;
    z-index: 1;
}
.footer__li {
    /* background-color: gold; */

   
}
.footer__svg {
    width: 1.875rem;
    height: 1.875rem;
} 
.footer__svg.instagram {
    color: #C6BF88;
}
.footer__svg.twitter {color:#C6BF88;}
.footer__svg.wasap {color: #C6BF88;}

                    /* -------------------------- redes sociales ---------------------------- */


/*----------------- Footer------------------- */



/* ------------- Responsive ------------------ */
/* 
Descripción: es el modo responsive de la web. He seleccionado varios breakpoint para que se adapte a todos los dispositivos
Estructura:
 - responsive del header
 - responsive del main
 - responsive del footer
*/
                        /* ----------- Responsive del header ----------------- */
                        /* Descripción: es el responsive del header para un tamaño ancho de ventana de 800px */
@media (max-width:800px) {
    .header {
        padding: 1rem;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header__div {
        display: flex;
    }
    .header__nav {
        transition: all .6s ease;
        padding: 1rem 0px;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        border-radius: 2rem;
        backdrop-filter: blur(2rem);
        background: rgba(0, 0, 0, 0.721);
  
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
  
        position: fixed;
        top: 3.4375rem;
        left: 0;
  
        z-index: 2;
    }
    .header__ul {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    /* Esta clase se le añade a través de js a header__nav para que se muestre */
    .header__nav.active {
          width: 100%;
          opacity: 1;
          margin-top: 5px;
          backdrop-filter: blur(2rem);
          background: rgba(0, 0, 0, 0.721);
    }
}
                        /* ----------- Responsive del header ---------------- */





                        /* ------------ Responsive del main ------------------ */
                        /* 
                        Descripción: es el responsive del main para varios tamaños como 1047px , 850px , 820px , 420px
                        */
@media (max-width:850px) {
    .main__np{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .main__section.izquierda {
        width: 95%;
    }
    .section__h2 {
        font-size: 1.25rem;
    }
    .section__img {
        margin-top: 3.75rem;
        width: 31.25rem;
        height: 31.25rem;

        object-fit: scale-down;
    }
    .main__section.derecha {
        margin-top: 1.25rem;
        align-items: flex-start;
        width: 95%;
    }
    .derecha__button {
        margin-left: 2rem;

    }
}
@media (max-width:1047px) {
    .derecha__button {
        padding: 5px 3rem;

    }
    .derecha__button:hover {
        transform: scale(1.05);
    }
    .derecha__button::after {
        padding: 5px 3rem;
    }
}
@media (max-width:420px) {
    .form__h2 {
        margin-left: 20px;
    }
    .button__email {
        margin-left: 20px;
    }
    .button__mensaje {
        margin-left: 20px;
    }
    .form__div {
        margin-left: 20px;
    }
    .form__button {
        margin-left: 20px;
    }
}
@media (max-width: 820px) {
    .form__h2 {
        margin-left: 20px;
    }
    .button__email {
        margin-left: 20px;
    }
    .button__mensaje {
        margin-left: 20px;
    }
    .form__div {
        margin-left: 20px;
    }
    .form__button {
        margin-left: 20px;
    }
}
                        /* ----------- Responsive del main ------------------  */





                        /* -------------- Responsive del footer ------------- */

@media (max-width:800px) {
    .footer {
        display: flex; 
        flex-flow: column; 
        justify-content: center;
        align-items: center; 
        min-height: 800px;
        gap: 60px;
    }
    .footer__mapa { width: 95%;}
    .footer__contacto {width: 95%;}
}
                        /* -------------- Responsive del footer ---------------  */
                        
/* -------------------- Responsive --------------------- */