/* --------------------------------------
productos.css
- Reset / Normalizar
- Header
- Main
- Footer
- Responsive
----------------------------------------- */




/* --------- Reset ------- */
@font-face {
  font-family: Nothing;
  src: url(../font/nothing-font-5x7.ttf);
}
@font-face {
  font-family: Ntype82;
  src: url(../font/NType82-Regular.ttf);
}

@charset "UTF-8";

* {
margin: 0;
padding: 0;
border: 0;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
max-width: 100%;
width: 100%;
display: block;

}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
display: block;
text-decoration: none;
color: inherit;
font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
display: inline;
}

/* Quitamos los puntos de los <li> */
li {
list-style-type: none;
}

/* Configuramos anclas suaves */
html {
scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
font-size: 1em;
font-weight: inherit;
font-style: inherit;
text-decoration: none;
color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
content: "";
content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
background-color: var(--negro);
color: var(--blanco);
}
::selection {
background-color: var(--negro);
color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
font-family: inherit;
font-size: inherit;
-webkit-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
background-color: transparent;
color: inherit;
display: block;
/* opcional */
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
border-collapse: collapse;
border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
/* width: 100%; */
display: block;
fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
display: inline;
width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
min-height: 100vh;
font-size: 100%;
font-family: Helvetica, Arial, sans-serif;
color: var(--negro);
/* opcional */
-webkit-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
/* opcional */
font-smooth: always;
/* opcional */
-webkit-font-smoothing: antialiased;
/* opcional */
-moz-osx-font-smoothing: grayscale;

background-color: #F5F5F7;
  
}
/* --------------- Reset ------------------  */



/* -------------- Header ----------- */
/* Descripción: el header de la página web 
    Estructura:
    - H1
    - Botones de menu
    - Menu desplegable
 */

 .header {
  padding: 2rem;
  backdrop-filter: blur(2rem); /* Con esto conseguimos darle un efecto difuminado a todo el header */
  background: rgba(0,0,0,.5254901961);  /* establecemos un color semitransparente */ 
  width: 90%;
  color: white;
  border-radius: 10rem;

  top: 1.25rem; 
  left: calc(50% - (90% / 2));
  position: fixed;
  z-index: 1; /* le ponemos 1 para que se superponga por encima de los demás elementos */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  

  font-family: Nothing;

  animation: cabecera 1.4s linear 1; /* animación para hacer el efecto que hace de arriba a abajo */
}
@keyframes cabecera {
  from {

          transform: translateY(-100%); /* Queremos que vaya desde un poco por encima de la web */

  }
  to {

          transform: translateY(0%); /* Hasta su posición original */
  }
}
.header__h1 {
  /* background-color: aqua; */
}
.header__a {
 
}
/* Aqui termina el H1 y algunos valores del header */


.header__div {
  /* background-color: aqua; */
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-self: center;

  gap: 1.25rem;
}

.header__svg {
  /* background-color: brown; */
  width: 1.25rem;
  height: 1.25rem;
}
.header__svg.carrito {}
.header__svg.persona {}
.header__svg.menu {}
.header__btn {
  cursor: pointer;
}
/* Aqui acaban los botones de menu */
.header__nav {
  
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.header__li {
  
}
/* Aqui acaba el menu desplegable */

/* ------------- Header ------------ */



/* ------------- Main -------------- */
/* 
Descripción: Aquí se encuentra lo principal de la web junto con dos carrouseles
Estructura:
- Main wrapped
- Main productos
- Main accesorios
*/
.main {
  background-color: #F5F5F7;
  margin-top: 8.125rem;
}

            /* --------------- Main wrapped --------------- */
            /* Descripción: se expone un texto descriptivo de la web y un apartado de ayuda.
            Estructura:
            - wrapped div
              - wrapped span
              - wrapped help
                - help specialist
                - help shop
            - wrapped guía
            */
.main__wrapped {
  /* background-color: gold; */
}
.wrapped__div {
  /* background-color: aqua; */
  width: 90%;
  min-height: 12.5rem;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.wrapped__span {
  margin-left: 3.75rem;
  /* background-color: blueviolet; */
  padding: 1rem;
  
  font-family: 'Nothing';
  font-size: 3em;
  font-weight: 600;
}
.wrapped__help {
  /* background-color: blueviolet; */
  margin-right: 3.75rem;
  width: 30%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;

  font-family: 'Ntype82';

}
.help__specialist {
  /* background-color: azure; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

}
.specialist__svg {
  /* background-color: cadetblue; */
  height: 1.875rem;
  width: 1.875rem;
}
.specialist__div {
  /* background-color: cadetblue; */
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: .625rem;
}
.specialist__p {
  /* background-color: red; */
  
  font-weight: 600;
}

.help__shop {
  /* background-color: azure; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.shop__svg {
  /* background-color: cadetblue; */
  width: 1.875rem;
  height: 1.875rem;
}
.shop__div {
  /* background-color: cadetblue; */

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: .625rem;
}
.shop__p {
  /* background-color: red; */
  
  font-weight: 600;
}
.pregunta {
  font-weight: 100;
  color: #0A66CC;
}
.wrapped__guía {
  /* background-color: aqua; */
  margin: 1.875rem auto;
  width: 90%;
}
.guia__nav {
  /* background-color: white; */
}
.nav__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.nav__li {
  /* background-color: azure; */
}
/* utilizo la coma para seleccionar estas dos clases a la vez y aplicar los mismos atributos */
.btn__modelos,
.btn__accesorios {
  transition: all .0s ease;
  font-family: 'Nothing';
  font-size: 1.2em;
}
.btn__modelos:hover,
.btn__accesorios:hover {
  border-bottom: 1.5px solid black;
}
                /* ----------------- Main wrapped ------------------ */





                /* ------------------ main productos ---------------- */
                /* 
                Descripción: se expone un carrousel de los diferentes productos que actualmente vende Nothing.
                Estructura:
                -  main productos
                  - carrousel h2
                  - carrousel div
                    - carrousel each
                      - each span
                      - each img
                      - each info
                      - each precio
                      - each btn
                - flecha next
                - flecha previous
                */

                
.main__productos {
  /* background-color: aqua; */
  min-height: 40.625rem;
  overflow: hidden;
}
.productos__carrousel {
  /* background-color: blue; */
  width: 25%;
  max-width: 75rem;
  
  margin-left: 2.5rem;
  position: relative;
  

}
.carrousel__h2 {
  margin-bottom: 1.25rem;
  /* background-color: aquamarine; */
  width: 100%;

  font-family: 'Ntype82';
  font-size: 1.7em;
  font-weight: 600;
}
.h2__span {
  color: #6E6E73;
}
.carrousel__div {
  /* background-color: gold; */
  width: 400%; /* es el resultado de 4 carrouseles each * 100% de cada carrousel each */
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  
  transition: all .5s ease;
}
.carrousel__each {
  width: 25%;
  border-radius: 5%;
  min-height: 28.125rem;
  background-color: white;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;

  position: relative;
  
  transition: all .7s ease;
}
.carrousel__each:hover {
  transform: scale(1.02);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.341);
}
.each__span {
  /* background-color: brown; */
  font-family: 'Ntype82';
  font-weight: 600;
  font-size: 1.3em;
  margin-left: .625rem;
}

.each__img {
  /* background-color: brown; */
  object-fit: cover;
  width: 100%;
  height: 15.625rem;
}
.n2 {
 object-fit: scale-down; /* Le aplico esta propiedad para reducir su escala */
}
.ear {
  object-fit: scale-down; /* Le aplico esta propiedad para reducir su escala */
  width: 100%;
  height: 9.375rem;
}
.ear2 {
  object-fit: scale-down; /* Le aplico esta propiedad para reducir su escala */
}
.each__info {
  background-color: #EBEBF0;
  border-radius: 3rem;
  padding: .625rem;
  
  position: absolute;
  left: calc(50% - (6.875rem / 2));
  bottom: 5rem;
 
  font-family: 'Ntype82';

  transition: all 1s ease;
  opacity: 0;
}

.each__precio {
  /* background-color: brown; */
  font-family: 'Ntype82';
  margin-left: 1.25rem;
}
.each__btn {

  background-color: #06c;
  padding: .625rem;
  border-radius: 3rem;
  text-align: center;
  color: white;

  font-family: 'Nothing';
  
  position: absolute;
  bottom: 1.25rem;
  right: .625rem;

  transition: background-color .3s ease;
}
.each__btn:hover {
  background-color: #0272E4;
}
/* Cuando le hago hover a cada carrousel, quiero que each info aparezca a su posición original */
.carrousel__each:hover .each__info {
  transform: translateY(-40px);
  opacity: 1;
}
/* Las dos flechas las he colocado a cada una en lados opuestos */
.flecha__next{
  /* background-color: gold; */
  position: absolute;
  bottom: -40px; /* a 40px por debajo del final de carrousel */
  right: 0;
  cursor: pointer;
}
.flecha__previous{
  /* background-color: skyblue; */
  position: absolute;
  bottom: -40px;  /* a 40px por debajo del final de carrousel */
  left: 0;
  cursor: pointer;
}

             /* --------------- main productos ----------------- */



            /* ---------------- main accesorios ------------------ */
            /* 
            Descripcion: se expone un carrousel con 3 fotos que en un futuro se pueden cambiar por fotos de accesorios de nothing (no he encontrado ninguna). 
            Se estructura en:
              - main accesorios
                - accesorios h2
                - carrousel accesorios
                  - accesorios grande
                    - acceosrios img
                  - punto ul
                    - puntos li
            */

.main__accesorios {}
.accesorios__h2 {
  /* background-color: orange; */
  margin-left: 2.5rem;
  width: 50%;

  font-family: 'Ntype82';
  font-size: 1.5em;
  font-weight: 600;
}
.accesorios__span {
  color: #6E6E73;
}
.carrousel__accesorios {
  background-color: #CCD6E0;
  width: 100%;
  margin: 2.5rem auto;
  max-width: 75rem;

  overflow: hidden;
} 
.accesorios__grande {
  /* no le pongo el ancho de 300% porque se lo doy a traves de javascript según el ancho de la ventana */
  background-color: #CCD6E0;
  display: flex;
  
  transition: transform 1s ease; 
}

.accesorios__img {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 37.5rem;
}
.puntos__ul {
  width: 100%;
  /* background-color: yellow; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.punto__li {
 
}
.punto__btn {
  width: 7.5rem;
  height: 5px;
  
  background-color: black;
}
            /*--------------- main accesorios ------------------ */
/* ----------------- main ----------------- */



/* ----------------------- footer ------------------ */
  /*  
    Descripción: es el footer de la página web. Se ha creado con grid.
Estructura:
      - product
        - product h2
        - product ul > li *4
      - company
        - company h2
        - company ul > li *4
      - support
        - support h2
        - support ul > li *4
      - email
        - email__forms
      - pago
        - pago h2
        - pago ul > li *4
    */
.footer {
  margin-top: 3.75rem;
  background-color: black;
  min-height: 31.25rem;
  padding: 1.25rem;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto 40%; /* quiero que sea de 4 columnas con 40% de ancho */
  grid-template-rows: auto auto; /* quiero que sea de dos filas */
  
  font-family: 'Ntype82';
  font-size: 1.2em;
}
.product {
  
  /* background-color: yellowgreen; */


  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;

}
.product__h2 {
  margin-left: 1.25rem;
  margin-top: 1.875rem;
  font-weight: 600;
}
.product__ul {}
.product__li {margin: 5px 0px 5px 1.875rem;}
.company {
 
  /* background-color: yellow; */

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
}
.company__h2 {
  margin-left: 1.25rem;
  margin-top: 1.875rem;
  font-weight: 600;
  /* background-color: orange; */
}
.company__ul {}
.company__li {
  margin: 5px 0px 5px 1.875rem;
  
}
.email {
  /* background-color: green; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.email__form {
  /* background-color: red; */
  margin: 8px 0px;
}
.email__input {
  padding: 0px 1rem;
  /* background-color: wheat; */
  border: 2px solid white;
  border-radius: 1.25rem;
  padding: 5px 5px 5px .625rem;
}
.form__mensaje {
  /* background-color: red; */
  margin: 8px 0px;
}
.button__mensaje {
  /* background-color: wheat; */
  border: 2px solid white;
  border-radius: 1.25rem;
  padding: 5px;
}
.email__submit {
  background-color: white;
  padding: .8rem;
  border-radius: 1rem;
  color: black;
  margin-top: 5px;
  cursor: pointer ;
}
.support {
  /* background-color: rgb(174, 190, 141); */
  grid-row: 1 / span 2; /* quiero que se expanda dos a la derecha contando desde la linea 1 */

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
}
.support__h2 {
  margin-top: 1.875rem;
  margin-left: 1.25rem;
  font-weight: 600;
}
.support__ul {}
.support__li {margin: 5px 0px 5px 1.875rem;}
.pago {
  grid-column: 2/4; /* quiero que vaya desde la columna 2 a la 4 */
 
  /* background-color: rgb(21, 29, 4); */
}
.pago__h2 {
  margin: .625rem 1.25rem;
  font-weight: 600;
}
.pago__ul {
  margin-top: 1.875rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.pago__li {
  /* background-color: red; */
  width: 2.5rem;
}

/* ---------------- footer ------------------ */



/* ------------- Responsive ------------------ */
/* 
Descripción: es el modo responsive de la web. He seleccionado varios breakpoint para que se adapte a todos los dispositivos
Estructura:
 - responsive del header
 - responsive del main
 - responsive del footer
*/

            
                        /* ----------- Responsive del header ----------------- */
                        /* Descripción: es el responsive del header para un tamaño ancho de ventana de 800px */
                        /* estructura 
                      
                        */
@media (max-width:800px) {
    .header {
        padding: 1rem;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header__div {
        display: flex;
    }
    .header__nav {
        transition: all .6s ease;
        padding: 1rem 0px;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        border-radius: 2rem;
        backdrop-filter: blur(2rem);
        background: rgba(0, 0, 0, 0.721);
  
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
  
        position: fixed;
        top: 3.4375rem;
        left: 0;
  
        z-index: 2;
    }
    .header__ul {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    /* Esta clase se le añade a través de js a header__nav para que se muestre */
    .header__nav.active {
          width: 100%;
          opacity: 1;
          margin-top: 5px;
          backdrop-filter: blur(2rem);
          background: rgba(0, 0, 0, 0.721);
    }
}
                        /* ----------- Responsive del header ---------------- */



                        /* ------------ Responsive del main ----------------- */
                        /* Descripción: es el responsive del main, especiamente del wrapped div */
@media (max-width:800px) {
  .wrapped__div {flex-flow: column; justify-content: center; align-items: flex-start; gap: 1.25rem;}
  .wrapped__span {margin: 0 0;}
  .wrapped__help {width: 60%;}
  .productos__carrousel {width: 75%;}
}
                        /* ------------- Responsive del main -------------- */




                        /* ------------- Responsive del footer ------------- */
                        /* Descripción: es el responsive del footer, en general, he cambiado todo a columnas y el ancho al 100%*/
@media (max-width:800px) {
  .footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .product {width: 100%; gap: 5px; padding: .625rem;}
  .company {width: 100%; gap: 5px; padding: .625rem;}
  .support {width: 100%; gap: 5px; padding: .625rem;}
  .support__h2 {margin-top: 1px}
  .email {width: 100%; padding: 1.25rem;}
  .pago {width: 100%; padding-bottom: 1.25rem;}
}

                    /* -------------- Responsive del footer ------------------- */


/* --------------- responsive --------------- */